body {
  background-color: #2A2C2B;
  font-family: 'Montserrat', sans-serif;
}

.app {
  margin: 16px 8px;
}

.recharts-wrapper {
  margin: 16px auto;
}

.recharts-legend-item-text {
  color: #B9BDBE;
}

.card {
  font-weight: bolder;
}

.card .x {
  cursor: pointer;
  float: right;
}
