body {
  background-color: #2A2C2B;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.app {
  margin: 8px auto;
}

.add {
  margin: 8px auto;
}

.recharts-wrapper {
  margin: 0 auto;
}

.recharts-legend-item-text {
  color: #B9BDBE;
}

.card {
  font-weight: bolder;
}

.card .x {
  cursor: pointer;
  float: right;
}

.ui.cards {
  margin: auto;
}
