body {
  background-color: #2A2C2B;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.chart {
  margin: 8px auto;
}

.recharts-wrapper {
  margin: 0 auto;
}

.recharts-legend-item-text {
  color: #B9BDBE;
}

.add {
  margin: 8px auto;
  max-width: 400px;
}

.stocklist {
  margin: 8px auto;
  max-width: 700px;
}

.item {
  width: 120px;
}

.x.icon {
  cursor: pointer;
  padding: 0px 8px;
}
